<div class="message-form">
    <h4>Write message</h4>
    <div class="form-container form-container-card">
        <!-- Message form container -->
        <form class="send_message_form message form" method="post" action="http://demo.highhay.com/casely/ajaxserver/serverfile.php"
        id="message_form">
        <div class="form-group name">
            <input id="mes-name" name="name" type="text" placeholder="Name" class="form-control form-control-outline thick form-success-clean"
            required>
        </div>
        <div class="form-group email">
            <input id="mes-email" type="email" placeholder="Email" name="email" class="form-control form-control-outline thick form-success-clean"
            required>
        </div>
        <div class="form-group no-border">
            <textarea id="mes-text" placeholder="Message ..." name="message" class="form-control form-control-outline thick form-success-clean"
            required></textarea>

            <div>
            <p class="message-ok invisible form-text-feedback form-success-visible">Your message has been sent, thank you.</p>
            </div>
        </div>

        <div class="btns text-right">
            <button id="submit-message" class="btn btn-outline-white btn-round btn-fullNot email_b"
            name="submit_message">
            <span class="txt">Send Now</span>
            <span class="arrow-icon"></span>
            </button>
        </div>
        </form>
    </div>
</div>