<h1>landing page</h1>
<p>this application is for electro stylists service</p>
<p>pls login or register to enjoy</p>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Turno Agendado
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
    Asistencia en el hogar
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    La idea es que puedas agendar tu sita con anticipacion, para que no tengas que esperar ni un momento para tu corte o servicio de bellaza en nuestro establecimiento.
  </div>
</div>
<div class="collapse" id="collapseExample2">
  <div class="card card-body">
    Tendras la posibilidad de agendar y solicitar nuestro servicio en tu hogar, te ahorramos incomodidades y tiempos de desplasamientos
  </div>
</div>